$heading: (
  colors: (
    default: $base-black-color,
    primary: $base-primary-color,
  ),
  fonts: (
    a1-sans: $base-font-family,
    a1-serif: $secondary-font-family,
  ),
  sizes: (
    mobile: (
      default: (
        font-size: 24px,
        line-height: 1.25,
      ),
      large: (
        font-size: 12px,
        line-height: 1.5,
      ),
      larger: (
        font-size: 14px,
        line-height: 1.5,
      ),
      big: (
        font-size: 18px,
        line-height: 1.5,
      ),
      bigger: (
        font-size: 18px,
        line-height: 1.5,
      ),
      biggest: (
        font-size: 24px,
        line-height: 1.25,
      ),
      huge: (
        font-size: 24px,
        line-height: 1.25,
      ),
    ),
    tablet: (
      default: (
        font-size: 72px,
        line-height: 1.28,
      ),
      large: (
        font-size: 12px,
        line-height: 1.5,
      ),
      larger: (
        font-size: 14px,
        line-height: 1.5,
      ),
      big: (
        font-size: 18px,
        line-height: 1.5,
      ),
      bigger: (
        font-size: 24px,
        line-height: 1.5,
      ),
      biggest: (
        font-size: 36px,
        line-height: 1.25,
      ),
      huge: (
        font-size: 48px,
        line-height: 1.25,
      ),
    ),
  )
);

.heading {
  @extend %heading-reset;
  color: inherit;
  font-weight: bold;

  &__family {
    @include modifiers-deep($heading, fonts, font-family);
  }

  &__weight {
    &--normal {
      font-weight: normal;
    }
  }

  &__type {
    &--inset {
      transform: translateX(-100px);
    }
  }

  &__color {
    @include modifiers-deep($heading, colors, color);
  }

  &__size {
    @include responsive-modifiers($heading, sizes);
  }

  &__align {
    @include text-align-modifiers;
  }

}
