$theme-options-colors: (
  messages-text: $base-concrete-color,
  success-bg: $base-success-color,
  error-bg: $base-crimson-color,
);

.zoho-token {
  &__buttons,
  &__label {
    display: inline-block;
    padding: 10px 0;
  }
}

.zoho-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__success,
  &__error {
    display: none;
    padding: 5px 10px;
    margin: 10px 0;

    &.is-active {
      display: block;
    }
  }

  &__success {
    color: map-get-strict($theme-options-colors, 'messages-text');
    background-color: map-get-strict($theme-options-colors, 'success-bg');
  }

  &__error {
    color: map-get-strict($theme-options-colors, 'messages-text');
    background-color: map-get-strict($theme-options-colors, 'error-bg');
  }
}