/*
Some default variables are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/scss/_core.scss
*/

$media-breakpoints: (
  mobile: 0 767,
  tablet: 768 991,
  desktop: 992 1199,
  large: 1200
);

//Base
$base-font-family: 'A1Sans', Arial, sans-serif;
$secondary-font-family: 'A1Serif', Arial, sans-serif;
$base-icons-font-family: 'a1-careers-page';

// Container
$base-container-size: 1250px;
$base-gutter-size: 24px;
