$testimonial-vars: (
  arrow-color: $base-white-color,
  bg: $base-white-color,
  button-color: $base-crimson-color,
  sizes: (
    mobile: (
      font-size: 18px,
      line-height: 1.5,
    ),
    tablet: (
      font-size: 24px,
    ),
  )
);

.testimonial {
  position: relative;
  padding: 10px 30px;
  max-width: 630px;
  background-color: map-get-strict($testimonial-vars, bg);

  @include media(mobile up) {
    padding: 30px 50px;
  }

  &__play-btn {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: map-get-strict($testimonial-vars, button-color);
  }

  &__content {
    @include responsive($testimonial-vars, sizes);
  }

  &__icon {
    margin-left: 5px;
    display: inline-flex;
    background-color: map-get-strict($testimonial-vars, button-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      transform: translate(-40%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 7px;
      border-color: transparent transparent transparent map-get-strict($testimonial-vars, arrow-color);
    }
  }

  &__name {
    padding-top: 5px;
  }
}