$quote-vars: (
  sizes: (
    mobile: (
      font-size: 24px,
      line-height: 1.25,
    ),
    tablet: (
      font-size: 36px,
    ),
  ),
  colors: (
    default: $base-text-color,
    light: $base-horizon-color,
  ),
);

.block-quote {
  @include responsive($quote-vars, sizes);
  text-align: center;
  font-weight: 300;

  &::before {
    content: '\00201e';
  }

  &::after {
    content: '\00201c';
  }

  &--default {
    color: map-get-deep($quote-vars, colors, default);
  }

  &--light {
    color: map-get-deep($quote-vars, colors, light);
  }

}