$jobs-search: (
  background-color: $base-white-color,
  box-shadow: rgba(0, 0, 0, 0.16),
  input-border: $base-crimson-color,
  submit: (
    color: $base-white-color,
    bg: $base-crimson-color,
  ),
  input-font-size: (
    mobile: (
      font-size: 18px,
      line-height: 1.5,
    ),
  ),
);

.jobs-search {
  $this: &;
  background-color: map-get-strict($jobs-search, 'background-color');
  box-shadow: 0 3px 6px 0 map-get-strict($jobs-search, 'box-shadow');
  padding: 30px;

  &__title {
    padding: 15px 0;
    line-height: 1.5;
    margin: 0;
  }

  #{$this}__search {
    position: relative;
    padding: 10px 0;
    border: none;

    &-icon {
      @extend %font-icon;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      &::before {
        content: unicode(\e905);
      }
    }

    &-input[type=text] {
      @include responsive($jobs-search, 'input-font-size');
      display: block;
      width: 100%;
      border: none;
      border-bottom: 2px solid map-get-strict($jobs-search, 'input-border');
      border-radius: 0;
      padding: 10px 30px;
    }
  }

  &__hidden {
    display: none;
  }

  &__submit {
    background-color: map-get-deep($jobs-search, 'submit', 'bg');
    color: map-get-deep($jobs-search, 'submit', 'color');
    display: block;
    width: 100%;
    padding: 15px 30px;
    margin-top: 25px;
  }

  #{$this}__select {
    .job__indicators {
      display: none;
    }

    .job__control {
      border: none;
      border-radius: 0;
    }

    .job__value-container {
      border-bottom: 2px solid map-get-strict($jobs-search, 'input-border');
      border-radius: 0;
      padding: 5px 30px;
    }
  }

  &__location {
    position: relative;
    padding: 10px 0;
    border: none;

    &-icon {
      @extend %font-icon;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 1;

      &::before {
        content: unicode(\e904);
      }
    }
  }

}