$icon--hamburger-menu: \e907;
$icon--search: \e903;
$icon--pointer: \e904;
$icon--magnifier: \e905;
$icon--briefcase: \e906;
$icon--download_icon: \e918;
$icon--edit_icon: \e917;
$icon--email-unread: \e913;
$icon--download: \e910;
$icon--baseline-add: \e911;
$icon--padlock: \e90d;
$icon--remove: \e90b;
$icon--check: \e909;
$icon--arrow-fat: \e900;
$icon--arrow: \e901;
$icon--brand: \e902;
