.media-element {
  &--reset {
    margin: 0;
    padding: 0;
  }

  &--icon {
    max-width: 50px;
    margin-right: auto;
  }

  &--text {
    margin-right: auto;
  }
}

.panel-row {
  width: 100%;
  margin: 15px 0;

  &--reverse-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.panel-label {
  padding: 10px 0;
}

.edit-button {
  &__options {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 36px;
  }
}